<div class="create-form">
    <h2>Claim</h2>
    <form (ngSubmit)="UpdateClaim()">
        <div class="form-item">
            <label for="name">Employee Name</label>
            <input type="text" class="" #name value="{{data?.userInfor?.name}}" readonly>
        </div>
        <div class="form-item">
            <label for="phone">Phone</label>
            <input type="text" value="{{data?.userInfor?.phone}}" #phone  readonly>
        </div>
        <div class="form-item">
            <label for="email">Email</label>
            <input type="text" value="{{data?.userInfor?.email}}" #email  readonly>
        </div>
        <div class="form-item">
            <label for="policyName">Policy</label>
            <input type="text" value="{{data?.policyInfor?.policyName}}" #policyName  readonly>
        </div>
        <div class="form-item">
            <label for="insurer">Insurer</label>
            <input type="text" value="{{data?.policyInfor?.companyInfor?.companyName}}" #insurer  readonly>
        </div>
        <div class="form-item">
            <label for="description">Description</label>
            <input type="text" value="{{data?.description}}"  >
        </div>
        <div class="form-item">
            <label for="appAmount">Amount</label>
            <input type="text" value="{{data?.appAmount | number: '1.0-0'}}" #appAmount readonly>
        </div>
        <div class="form-item">
            <label for="logo">Upload Images</label>
            <input type="file" (change)="handleImageInput($event)" #upload>
        </div>
        <div class="form-item" *ngIf="listCurrentImgs.length!=0">
            <label for="">Uploaded Images</label>
            <div *ngFor="let item of listCurrentImgs" style="position: relative; width: 150px; height: 150px;margin: auto;">
                <img src="http://localhost:3000/{{item.url}}" alt="" class="showLogoImg">
            </div>
        </div>
        <div class="form-item" *ngIf="listImgClaim.length!=0">
            <label for="">New Images</label>
            <i>click on the image to remove</i>
            <div *ngFor="let item of listImgClaim; let i = index" style="position: relative; width: 150px; height: 150px;margin: auto;">
                <img src="{{item}}" alt="" class="showLogoImg" (click)="RemoveImg(i,upload)">
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-approve" *ngIf="data?.status==false&&loginUserData?.user?.role==1" (click)="ApproveClaim()"  >Aprove</button>
            <button type="submit" class="btn btn-adding">Update claim</button>
            <button type="button" class="btn cancel" (click)="Cancel()">Cancel</button>
        </div>
    </form>
</div>