<div class="create-form">
    <h2>CREATE NEW COMPANY</h2>
    <form [formGroup]="Form" (ngSubmit)="CreateCompany(name.value,hotline.value,address.value,website.value,status.checked)">
        <ng-container *ngIf="imgToshow ==''; else showLogo">
            <div class="form-item">
                <label>Logo</label>
                <input type="file" accept="image/*" class="{{Form.controls.logo.status !== 'VALID' ? 'red' :'green'}}" #logo name="file" (change)="handleImageInput($event)"
                    formControlName="logo">
            </div>
        </ng-container>
        <ng-template #showLogo>
            <div style="position: relative; width: 150px; height: 150px;margin: auto;">
                <img src="{{imgToshow}}" alt="" class="showLogoImg">
                <input type="file" accept="image/*" class="showLogo" #logo name="file"
                    (change)="handleImageInput($event)" >
            </div>
        </ng-template>

        <div class="form-item">
            <label>Company Name</label>
            <input type="text" #name name="name" formControlName="name" class="{{Form.controls.name.status !== 'VALID' ? 'red' :'green'}}">
        </div>
        <div class="form-item">
            <label>Hotline</label>
            <input type="text" #hotline name="hotline" formControlName="hotline">
        </div>
        <div class="form-item">
            <label>Address</label>
            <input type="text" #address name="address" formControlName="address">
        </div>
        <div class="form-item">
            <label>Website</label>
            <input type="text" #website name="website" formControlName="website">
        </div>
        <div class="form-item">
            <label>Status</label>
            <input type="checkbox" #status name="status" formControlName="status">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-adding">Add Insurer</button>
            <button type="button" class="btn cancel" (click)="Cancel()">Cancel</button>
        </div>
    </form>

</div>