<div class="container">
    <button routerLink="/addpolicy">Add</button>
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employ Name</th>
                    <th scope="col">Insurer</th>
                    <th scope="col">Policy Name</th>
                    <th scope="col">Available Amount</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data; let i = index">
                    <td>{{i}}</td>
                    <td>{{item.userInfor?.name}}</td>
                    <td>{{item.policyInfor?.companyInfor?.companyName}}</td>
                    <td>{{item.policyInfor?.policyName}}</td>
                    <td>{{item.avaibleAmount | number: '1.0-0'}}</td>
                    <td>{{item.startDate}}</td>
                    <td>{{item.endDate}}</td>
                    <td align="center">
                        <button routerLink="/createclaim" [queryParams]="{ policyID: data.policyId }" routerLinkActive="active" class="nav-link">Create Claim</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>