<div class="container">
    <input class="form-control mb-3" type="text" placeholder="Tìm kiếm...">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Tên</th>
          <th>Email</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="container">
    <h2>Edit Insurer Details</h2>
    <form [formGroup]="Form" (ngSubmit)="UpdateCompany(name.value,hotline.value,address.value,website.value,status.checked)" >
        <div class="form-group">
            <label for="name">Insurer Name</label>
            <input type="text" class="form-control {{Form.controls.name.status !== 'VALID' ? 'is-invalid' :'is-valid'}}" #name name="name" formControlName="name" value="{{data?.companyName}}">
            <div class="{{Form.controls.name.status !== 'VALID' ? 'invalid-feedback' :'valid-feedback'}}">{{Form.controls.name.status !== 'VALID' ? "Insurer Name can't be blank" : 'Look Good!!!'}}</div>
        </div>
        <div class="form-group">
            <label for="hotline">Hotline</label>
            <input type="text" class="form-control" #hotline name="hotline" formControlName="hotline" value="{{data?.companyPhone}}">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" #address name="address" formControlName="address" value="{{data?.address}}">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" #website name="website" formControlName="website" value="{{data?.url}}">
        </div>
        <div class="form-check">
            <label class="form-check-label" for="status">Available</label>
            <input type="checkbox" class="form-check-input" #status name="status" formControlName="status" [checked]="data?.status">
        </div>
        <div class="form-group">
            <label for="logo">Logo</label>
            <input type="file" class="form-control-file {{ Form.controls.logo.invalid ? 'is-invalid' : '' }}" #logo name="file" required (change)="handleImageInput($event)" formControlName="logo">
            <div class="{{Form.controls.logo.status !== 'VALID' ? 'invalid-feedback' :'valid-feedback'}}">{{Form.controls.logo.status !== 'VALID' ? "Insurer Logo can't be blank" : 'Look Good!!!'}}</div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-adding">Edit Insurer</button>
            <button type="button" class="btn cancel" (click)="Cancel()">Cancel</button>
        </div>
    </form>
</div>