<div class="container">
    <h2>Online Health Insurance</h2>
    <form action="">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" #username placeholder="Input username">
      </div>
      <div class="form-group">
        <label for="password">Passowrd</label>
        <input type="password" class="form-control" #password placeholder="Input password">
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-primary" id="loginButton">Sign In</button>
        <a href="#" class="btn btn-link" id="forgotPassword">Forget password?</a>
      </div>
    </form>
    <p>Do not have an account? <a href="#" id="signUp">Sign Up</a></p>
  </div>
  