@import '../../assets/general.scss';

body {
    background-color: #E6F2FF;
    font-family: $fontFamily;
    
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: $header;
}

form {
    margin-top: 20px;
}

label {
    @extend .lable-input
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}



a {
    color: #0047B3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}