<div class="create-form">
    <h2>ADD POLICY TO USER</h2>
    <form [formGroup]="Form" (ngSubmit)="AddPolicyToUser()">
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" class="" #name readonly value="{{userData?.name}}">
        </div>
        <div class="form-item">
            <label for="selectedPolicy">Select Policy</label>
            <select class="" formControlName="selectedPolicy" (change)="CalculateEndDate(startDate.value)">
                <option *ngFor="let policy of availablePolicy; let i = index" value="{{i}}">{{policy.policyName}}
                </option>
            </select>
        </div>
        <div class="form-item">
            <label for="">Total Amount</label>
            <input type="text" class="" readonly value="{{totalAmount | number: '1.0-0'}}">
        </div>
        <div class="form-item">
            <label for="startDate">Start Date</label>
            <input type="date" class="{{Form.controls.startDate.status !== 'VALID' ? 'red' :'green'}}"
                #startDate formControlName="startDate" (change)="CalculateEndDate(startDate.value)">
        </div>
        <div class="form-item">
            <label for="endDate">End Date</label>
            <input type="date" class="" #endDate readonly formControlName="endDate">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-adding">Add Policy</button>
            <button type="button" class="btn cancel" (click)="Cancel()">Cancel</button>
        </div>
    </form>
</div>