<div class="create-form">
    <h2>CREATE NEW EMPLOYEE</h2>
    <form [formGroup]="Form"
        (ngSubmit)="CreateUser(username.value,password.value,name.value,dob.value,email.value,phone.value,address.value,status.checked)">
        <ng-container *ngIf="imgToshow ==''; else showLogo">
            <div class="form-item">
                <label>Avatar</label>
                <input type="file" accept="image/*" class="{{Form.controls.avatar.status !== 'VALID' ? 'red' :'green'}}"
                    #logo name="file" (change)="handleImageInput($event)" formControlName="avatar">
            </div>
        </ng-container>
        <ng-template #showLogo>
            <div style="position: relative; width: 150px; height: 150px;margin: auto;">
                <img src="{{imgToshow}}" alt="" class="showLogoImg">
                <input type="file" accept="image/*" class="showLogo" #logo name="file"
                    (change)="handleImageInput($event)">
            </div>
        </ng-template>
        <div class="form-item">
            <label>Employee Name</label>
            <input type="text" #name name="name" formControlName="name"
                class="{{Form.controls.name.status !== 'VALID' ? 'red' :'green'}}">
        </div>
        <div class="form-item">
            <label for="username">Username</label>
            <input type="text" class="{{Form.controls.username.status !== 'VALID' ? 'red' :'green'}}" #username
                placeholder="Input Username" formControlName="username">
        </div>
        <div class="form-item">
            <label for="password">Password</label>
            <input type="password" class="form-control {{Form.controls.password.status !== 'VALID' ? 'red' :'green'}}"
                formControlName="password" #password name="password" placeholder="Input Password">
        </div>
        <div class="form-item">
            <label for="email">Email</label>
            <input type="email"
                class="{{Form.controls.email.status !== 'VALID' ? 'red' :'green'}}" #email
                name="email" formControlName="email" placeholder="Input Email">
        </div>
        <div class="form-item">
            <label for="phone">Phone Number</label>
            <input type="text"
                class="form-control {{Form.controls.phone.status !== 'VALID' ? 'red' :'green'}}" #phone
                name="phone" required placeholder="Input Phone" formControlName="phone">
        </div>
        <div class="form-item">
            <label for="dob">Birthday</label>
            <input type="date" #dob name="dob"
                class="form-control {{Form.controls.dob.status !== 'VALID' ? 'red' :'green'}}"
                placeholder="Input Date of birth" formControlName="dob">
        </div>
        <div class="form-item">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" #address name="address" class="form-control" placeholder="Input Address">
            </div>
        </div>
        <div class="form-item">
            <label>Status</label>
            <input type="checkbox" #status name="status" formControlName="status">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-adding">Add Insurer</button>
            <button type="button" class="btn cancel" (click)="Cancel()">Cancel</button>
        </div>
    </form>

</div>