<div class="container">
    <button routerLink="/addpolicy">Add</button>
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Banner</th>
                    <th scope="col">Name</th>
                    <th scope="col">Insurer</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let policy of policies; let i = index">
                    <td>{{i+1}}</td>
                    <td><img src="http://localhost:3000/{{policy.banner}}" alt=""></td>
                    <td>{{policy.policyName}}</td>
                    <td>{{policy.company.companyName}}</td>
                    <td>{{policy.duration / 30}} Months</td>
                    <td>{{policy.totalAmount | number: '1.0-0'}}</td>
                    <td><span class="{{policy.status?'status-active':'status-inactive'}}">{{policy.status?'Active':'Inactive'}}</span></td>
                    <td align="center">
                        <button routerLink="/editpolicy" [queryParams]="{ policyID: policy.policyId }" routerLinkActive="active" class="nav-link">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>