<!-- <form class='container-SearchBox' (ngSubmit)="Search(search.value)">
    <input type='input' placeholder='Search...' #search>
    <button class='search-button' type="submit">Search</button>
</form> -->
<div class="dropdownContainer">
    <div class="dropdown">
        <button class="dropbtn">{{sort=='asc'?'Ascending':'Descending'}}</button>
        <div class="dropdown-content">
            <div (click)="Sort('asc')">Ascending</div>
            <div (click)="Sort('desc')">Descending</div>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Claimant</th>
            <th scope="col">Insurer</th>
            <th scope="col">Policy Name</th>
            <th scope="col">Description</th>
            <th scope="col">Approve Amount</th>
            <th scope="col">Create Date</th>
            <th scope="col">Aprove</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.userInfor?.name}}</td>
            <td>{{item.policyInfor?.companyInfor?.companyName}}</td>
            <td>{{item.policyInfor?.policyName}}</td>
            <td>{{item.description}}</td>
            <td>{{item.appAmount | number: '1.0-0'}}</td>
            <td>{{ConvertDateToInput(item.createDate)}}</td>
            <td>
                <span class="{{item.status?'status-active':'status-inactive'}}">{{item.status?'Approved':'Not
                    yet'}}</span>
            </td>
            <td align="center">
                <button routerLink="/showclaimdetail" [queryParams]="{ claimid: item.claimId }"
                    routerLinkActive="active" class="edit-button">Details</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="paging">
    <button class="{{i+1==currentPage?'selectedPage':''}}" *ngFor="let item of [].constructor(paging); let i = index"
        (click)="SwitchPage(i+1)">{{i+1}}</button>
</div>