@import "~bootstrap/dist/css/bootstrap.min.css";

$buttonBackground: lightblue;
$buttonText: #0d00ff;
$header: #02ff03;
$footer: #D3E0DC;
$fontFamily: Arial, sans-serif;

.container {
  width: 100% !important;
}

html,
body {
  height: 100%;
  padding: 0;
}


.lable-input {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #0047B3;
}

.lable-header-adding {
  text-align: center;
  color: $header;
}

.btn-group {
  display: flex;
}

.cancel:hover {
  font-weight: bold;
}

.cancel {
  flex: 1;
  display: block;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 100;
  color: black;
  background-color: #c2c2c2;
}

.table {
  font-size: 14px;
  /* Kích thước chữ cho bảng */
}

.table th,
.table td {
  vertical-align: middle;
  /* Canh giữa nội dung của th và td */
}

.table img {
  max-width: 50px;
  /* Giới hạn kích thước ảnh logo */
  height: auto;
}

.table thead th {
  background-color: #f8f9fa;
  /* Màu nền cho header */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
  /* Màu nền xen kẽ cho dòng chẵn */
}

.table-striped tbody tr:hover {
  background-color: #e9ecef;
  /* Màu nền khi hover chuột */
}

button a {
  width: 100% !important;
  height: 100% !important;
}

.status-active {
  color: white;
  background: green;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 5px;
}

.status-inactive {
  color: white;
  background: red;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 5px;
}

tr {
  text-align: center;
}

#status {
  border: 2px;
}

//paging
.paging {
  text-align: center;
  padding-bottom: 20px;
}

.paging button {
  margin: 0 5px;
  --color: black;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  font-size: 16px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}
.paging button:hover {
  background-color: rgb(167, 162, 162);
  color: white;
}
.sort-container {
  text-align: center;
}

.selectedPage {
  background-color: var(--color);
  color: white!important;
}

//search
form.container-SearchBox {
  width: 50%;
  margin: 20px auto;
  display: flex;
}

form.container-SearchBox input {
  width: 100%;
  padding-left: 10px;
}

form.container-SearchBox .search-button {
  background-color: #173cff;
  transition: 0.5s;
  color: white;
  border: 0;
}
form.container-SearchBox .add-new{
  border-radius: 5px;
  border: 0;
  margin-left: 10px;
  color: white;
  background-color: #02ff03;
  transition: 0.3s;
}

//Dropdown list
.dropdownContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  padding: 4px;
  background-color: #151418;
  color: white;
  font-weight: 400;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100px;
  transition: 0.5s;
}
.dropbtn:hover{
  background-color: #151418;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  transition: 0.5s;
}

.dropdown-content div {
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}

.dropdown-content div:hover {
  background-color: #4d3c3c;
  color: #c2c2c2;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;

}
//button
.edit-button {
  --color: black;
  display: inline-block;
  height: 2em;
  overflow: hidden;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}
.edit-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.edit-button:hover {
  color: white;
}

.edit-button:before {
  top: 100%;
  left: 100%;
  transition: 0.5s all;
}

.edit-button:hover::before {
  top: -30px;
  left: -30px;
}
//table show data
table{
  width: 90%;
  margin: 0 auto 10px;
}
thead{
  background-color: antiquewhite;
}
thead tr th{
  padding: 10px 0;
}
tbody tr td{
  padding: 10px 0;
}
tbody tr td img{
  width: 60px;
}
tbody tr{
  border-bottom: 1px white solid;
}
tbody tr:hover{
  background-color: #d0cece;
}