<div class="create-form">
    <h2>CREATE NEW POLICY</h2>
    <form [formGroup]="Form"
        (ngSubmit)="CreatePolicy(name.value,description.value,totalAmount.value,duration.value,companyId.value,status.checked)">
        <ng-container *ngIf="imgToshow ==''; else showLogo">
            <div class="form-item">
                <label>Banner</label>
                <input type="file" accept="image/*" class="{{Form.controls.banner.status !== 'VALID' ? 'red' :'green'}}"
                    #logo name="file" (change)="handleImageInput($event)" formControlName="banner">
            </div>
        </ng-container>
        <ng-template #showLogo>
            <div style="position: relative; width: 150px; height: 150px;margin: auto;">
                <img src="{{imgToshow}}" alt="" class="showLogoImg">
                <input type="file" accept="image/*" class="showLogo" #logo name="file"
                    (change)="handleImageInput($event)">
            </div>
        </ng-template>

        <div class="form-item">
            <label>Policy Name</label>
            <input type="text" #name name="name" formControlName="name"
                class="{{Form.controls.name.status !== 'VALID' ? 'red' :'green'}}">
        </div>
        <div class="form-item">
            <label>Description</label>
            <input type="text" #description name="description" class="{{Form.controls.description.status !== 'VALID' ? 'red' :'green'}}" formControlName="description">
        </div>
        <div class="form-item">
            <label for="totalAmount">Total Amount</label>
            <select class="" #totalAmount name="totalamount">
                <option *ngFor="let amount of amountOption" value="{{amount}}">{{amount | number: '1.0-0'}}</option>
            </select>
        </div>
        <div class="form-item">
            <label for="companyId">Select Insurer</label>
            <select class="" #companyId name="companyId" required>
                <option *ngFor="let company of companies" value="{{company.companyId}}">{{company.companyName}}</option>
            </select>
        </div>
        <div class="form-item">
            <label for="duration">Select Duration</label>
            <select class="" #duration name="duration" required>
                <option *ngFor="let duration of durationOption" value="{{duration}}">{{duration}} Year(s)</option>
            </select>
        </div>
        <div class="form-item">
            <label>Status</label>
            <input type="checkbox" #status name="status" formControlName="status">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-adding">Add Policy</button>
            <button type="button" class="btn cancel" (click)="Cancel()">Cancel</button>
        </div>
    </form>

</div>